@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div>
        <label>New Password:</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label>Confirm Password :</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Reset Password</button>
</form>
